@charset "UTF-8";

/*共通部分
-----------------------------*/
html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "sans-serif";
    line-height: 1.7;
    color: #343434;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*大きな背景画像*/
.big-bg{
    background-size: cover;
    background-position: center top;
}
#home{
    background-image: url(../images/main-bg.png)/*, linear-gradient(#c9ffbf, #ffafbd)*/;
    background-color: #343434;
    background-blend-mode: soft-light;
    height: 450px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*home-content*/
.home-content{
    text-align: center;
    margin-top: 10%;
    animation: slideinBottom 2s forwards;
}

@keyframes slideinBottom {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.45rem;
    margin-top: 3px;
}
.home-content .page-title,
.home-content p{
    text-transform: none;
    letter-spacing: 0.2rem;
    color: #faf7f0;
    font-family: "Century", "sans-serif";
}
.home-content .page-title{
    font-size: 4rem;
    margin-bottom: 5px;
    font-weight: normal;
}

/*header*/
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.logo{
    width: 50px;
    margin-top: 10px;
}
.main-nav{
    font-family: "Century Gothic", serif;
    display: flex;
    font-size: 1.125rem;
    text-transform: none;
    margin-top: 20px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #343434;
}
.main-nav a:hover{
    color: #0bd;
}
/*footer*/
footer{
    background: #343434;
    text-align: center;
    padding: 26px 0;
}
footer p{
    color: #fff;
    font-size: 0.875rem;
}

/*見出し*/
.page-title{
    font-size: 2.5rem;
    font-family: "Century", "sans-serif";
    text-transform: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 100px;
}
.sub-title{
    font-size: 1.25rem;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 0;
    margin-bottom: 40px;
}

/*ボタン*/
.button{
    font-size: 1.375rem;
    background: #343434;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover{
    background: #969696;
}


/*Works
-----------------------------*/
.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    margin-bottom: 90px;
}
.grid img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 5%;
    border-color: #969696;
    border-style: solid;
    border-width: 1px;
}
.caption2{
    font-size: 1rem;
}
/*About
-----------------------------*/
#about{
    background-image: url(../images/about-bg.jpg)/*, linear-gradient(#c9ffbf, #ffafbd)*/;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode:lighten;
    height: 670px;

    justify-content: center;
    align-items: center;
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#about .wrapper{
    text-align: left;
    margin-left: 20%;
}

/*CONTACT
-----------------------------*/
form{
    display: grid;
    justify-items: center;
}
/*フォーム*/
form div{
    margin-bottom: 14px;
    min-width: 240px;
    width: 500px;
}
label{
    text-align: left;
    font-size: 0.85rem;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="phone"],
textarea{
    border: 2px #969696 solid;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 5px;
}
input[type="text"],
input[type="phone"],
input[type="email"]{
    width: 100%;
}
textarea{
    width: 100%;
    height: 6rem;
}
input[type="submit"]
{
    border: none;
    cursor: pointer;
    line-height: 1;
    font-size: 1.375rem;
    background: #343434;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 70px;
}

/*モバイル版
-----------------------------*/
@media (max-width: 600px){
    .page-title{
        font-size: 2.5rem;
    }

    /*Header*/
    .main-nav{
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li{
        margin: 0 20px;
    }

    /*Home*/
    #home .page-title{
        margin-top: 35px;
        font-size: 3rem;
    }
    .home-content{
        margin-top: 20px;
    }
    .page-header{
        flex-direction: column;
        align-items: center;
    }

    /*Works*/
    .grid{
        display: grid;
        justify-items: center;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-bottom: 100px;
    }
    .caption2{
        font-size: 0.925rem;
    }
    /*About*/
    #about .wrapper{
        text-align: left;
        font-size: 0.925rem;
        margin: 0;
    }
    /*CONTACT*/
    #contact .page-title
    {
        margin-top: 40px;
    }
    form div{
        margin-bottom: 14px;
        min-width: 200px;
        width: 350px;
    }
}